<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="Test" connectionString="Server=.;Database=knowledgeDB;User Id=sa;Password=Sena2019;"
            providerName="System.Data.SqlClient" />
        <add name="DBKnow.Properties.Settings.knowledgeDBConnectionString"
            connectionString="Data Source=DESKTOP-GBU66TM;Initial Catalog=knowledgeDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="Test" value="Server=.\;Database=knowledgeDB;User Id=sa;Password=Sena2019;"/>
  </appSettings>
</configuration>